name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install Rust (nightly)
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
      - name: Install LLVM 21
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          # The script argument is the major version (21)
          # This automatically pulls the latest stable (e.g., 21.1.x)
          sudo ./llvm.sh 21 all
          sudo apt install llvm llvm-dev clang
          sudo ldconfig

      - name: Check binaries
        run: |
          clang --version
          which opt
          which llc
          opt --version
          llc --version

      - name: Build
        run: cargo build --verbose

      - name: Test
        run: |
          cargo test --verbose
      - name: Test (JIT Template Unrolled)
        run: |
          LL_MATMUL_TEMPLATE=src/llvm/matmul_unrolled.tmpl cargo test --verbose

      - name: Run
        run: |
          cargo run --release
      - name: Run (JIT Template Unrolled)
        run: |
          LL_MATMUL_TEMPLATE=src/llvm/matmul_unrolled.tmpl cargo run --release

      - name: Bench (4x4)
        run: |
          cargo bench --bench matmul_4x4_bench
      - name: Bench (4x4 JIT Template Unrolled)
        run: |
          LL_MATMUL_TEMPLATE=src/llvm/matmul_unrolled.tmpl cargo bench --bench matmul_4x4_bench

      - name: Bench (Large)
        run: |
          cargo bench --bench matmul_bench -- matmul_small_32x32
          #cargo bench --bench matmul_bench -- matmul_mid_512x512
          #cargo bench --bench matmul_bench -- matmul_big_1024x1024

      - name: Bench (Large JIT Template Unrolled)
        run: |
          LL_MATMUL_TEMPLATE=src/llvm/matmul_unrolled.tmpl cargo bench --bench matmul_bench -- matmul_small_32x32
          #cargo bench --bench matmul_bench -- matmul_mid_512x512
          #cargo bench --bench matmul_bench -- matmul_big_1024x1024